---
import Atom from './svg/Atom.astro';
import StarD from './svg/StarD.astro';
import Obsidian from '../components/svg/Obsidian.astro';
import InfoCard from './InfoCard.astro';
const place : string="";
const position : string="";
const date : string="";
const activities : string[]=[];
---

<section class="container experience">
    <h2>Courses</h2>
    <div class="experience__grid">
        <InfoCard place={place} position={position} date={date} activities={activities}></InfoCard>
        <div class="experience__animate">
            <span class="experience__line"></span>
            <StarD></StarD>
            <span class="experience__line"></span>
        </div>
        <InfoCard place={place} position={position} date={date} activities={activities}></InfoCard>
        <InfoCard place={place} position={position} date={date} activities={activities}></InfoCard>
        <div class="experience__animate">
            <span class="experience__line"></span>
            <Obsidian></Obsidian>
            <span class="experience__line"></span>
        </div>
        <InfoCard place={place} position={position} date={date} activities={activities}></InfoCard>
        <InfoCard place={place} position={position} date={date} activities={activities}></InfoCard>
        <div class="experience__animate">
            <span class="experience__line"></span>
            <Atom></Atom>
            <span class="experience__line"></span>
        </div>
        <InfoCard place={place} position={position} date={date} activities={activities}></InfoCard>
    </div>
</section>

<style>
    .experience__grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    @media (min-width: 768px) {
        .experience__grid{
            gap: 0;
            grid-template-columns: 5fr 1fr 5fr;
            align-items: center;
        }
    }

    .experience__animate{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience__icon{
        margin: 0 auto;
        width: min(10rem);
    }

    .experience__line{
        display: block;
        margin: 0 auto;
        height: 2rem;
        width: .1rem;
        background-color: #fff;
    }

    @media (min-width: 768px) {
        .experience__line{
            height: 9rem;
        }
    }
</style>