---
interface Props{
    place : string;
    position : string;
    date : string;
    activities : string[];
}

const {place, position, date, activities} = Astro.props;
---
<article class="experience__content">
    <h3 class="title">{place}title</h3>
    <div class="info">
        <p class="position">{position } Position</p>
        <p class="date">{date}Date</p>
    </div>
    <ul>
        <li>{activities[0]}Activite</li>
        <li>{activities[1]}Activite</li>
        <li>{activities[2]}Activite</li>
        <li>{activities[3]}Activite</li>
    </ul>
</article>

<style>
    .experience__content{
        background-color: var(--black);
        border-radius: 2rem;
        padding: 1rem 2rem;
    }
    .info{
        display: flex;
        gap: 2rem;
        & p{
            font-size: 2rem;
            margin: 0;
            color: var(--primary);
        }
    }

    @media (min-width: 768px) {
        .experience__content:nth-child(1){
            margin-top: -7rem;
        }
        .experience__content:nth-child(3){
            margin-top: 8rem;
        }

        .experience__content:nth-child(4){
            margin-top: -7rem;
        }
        .experience__content:nth-child(6){
            margin-top: 8rem;
        }

        .experience__content:nth-child(7){
            margin-top: -8rem;
        }
        .experience__content:nth-child(9){
            margin-top: 8rem;
        }
    }
</style>